@media (min-width: 0) and (max-width: 425px){
#navbar .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#navbar ul{
    display: flex;
    flex-direction: column;  
}
}